body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8C9EFF;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.red {
    color: #EE514E;
}

#calculator {
    background-color: #e9e9e9;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.display {
    flex: 30%;
    padding: 12.5px;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    text-align: right;
}

.top {
    flex: 40%;
}

.secondary-display {
    flex: 20%;
}

.primary-display {
    flex: 40%;
    font-size: 30px;
}

.buttons {
    padding: 10px 0px;
    background-color: white;
    border-radius: 10px;
    flex: 70%;

    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row button {
    flex: 0 0 20%;
    height: 60%;
    padding: 0;
    background-color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
                0 3px 10px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.row button:hover {
    background-color: rgb(245, 245, 245);
}

.row button:active {
    background-color: rgb(235, 235, 235);
}

.number {
    font-size: 18px;
}

.operator {
    font-size: 24px;
    color: #EE514E;
}

.action {
    font-size: 18px;
    color: #7F90E8;
}

#equal {
    color: white;
    background-color: #EE514E;
}

#equal:hover {
    background-color: #E64946;
}

#equal:active {
    background-color: #DE413E;
}

#zero {
    flex: 0 0 44%;
}